	{% extends "_refer_.html" %}
	{% block body %}
	<div id="page-container" class=" page-without-sidebar">
		<!-- begin #content -->
			<!-- begin page-header -->
			<h1 class="page-header">温和放量 / Code=1001 <small></small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
			    <div class="panel-body">
					<div class="col-md-5">
						<div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                            </button>
                            	<h4><i class="fa fa-2x fa-info-circle"></i> 什么是温和放量拉升？</h4>
								<p>
									在过去一段时间里个股的量价总是不温不火，但最近几天开始出现连续成交放大、价格走高的趋势。.
								</p>
							<br>
							长期调整的个股在缩量后成交日增，并有加速倾向，而换手率也累积到流通股本的1/3以至1/2的数值时（实际上并非所有的换手交易都由庄家发生，有时也有散户的成交，但可忽略不计），这个股就多半有戏了。与此同步的是该股在此期间可能利空迭出，其实是庄家欲骗取便宜货的手腕。
				</div>

						<form class="form-horizontal" id="kline_form" method = "POST" action="/1001?action=query" target="result_page">
							<input type="radio" name="tag" checked value="A" class="A" > 温和放量上涨
							&nbsp;&nbsp;<input type="radio" name="tag"  value="B" class="B" > 持续缩量下跌
							<br>
						样本天数：	<select class="form-control" name="_fdts">
                                            <option  value="2">2天</option>
                                            <option selected  value="3">3天</option>
                                            <option  value="4">4天</option>
                                            <option  value="5">5天</option>
                                        </select>
							<br>
						<button type="submit" class="btn btn-danger m-r-5 m-b-5">开始匹配</button>
						</form>
					</div>
					<div class="col-md-7">
						<h3 class="page-header">匹配结果</h3>

						<iframe name="result_page" align="center" width="100%" height="450" src="" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
					</div>
			    </div>
			</div>
		</div>
		<!-- end #content -->
	{% endblock %}
