	{% extends "_refer_.html" %}
	{% block body %}
	<div id="page-container" class=" page-without-sidebar">
		<!-- begin #content -->
			<!-- begin page-header -->
			<h1 class="page-header">突放巨量 / Code=1002 <small></small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
			    <div class="panel-body">
					<div class="col-md-5">
						<div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                            </button>
                            	<h4><i class="fa fa-2x fa-info-circle"></i> 什么是突放巨量？</h4>
								<p>
									某日成交量突然放大，且是前一日成交量的N倍，此后连续几日都是巨量成交。
								</p>
								<p>
									*** 主要目的是找到结束长期盘整，强势突破平台的个股。
                                    <br>
									*** 要注意的是：随着放量的发生同时还要结合其他指标分析，比如是突破了有标志性的区间、压力位、缺口才可信。
									<br>
									*** 比如：若一阳穿多线则很有意义！
								</p>
						</div>
						<form class="form-horizontal" id="kline_form" method = "POST" action="/1002?action=query" target="result_page">
						成交量放大<input type="text" name="multiple" class="form-control" value="3">倍以上<br>
						<button type="submit" class="btn btn-danger m-r-5 m-b-5">开始匹配</button>
							</form>
					</div>
					<div class="col-md-7">
						<h3 class="page-header">匹配结果</h3>

						<iframe name="result_page" align="center" width="100%" height="450" src="" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
					</div>
			    </div>
			</div>
		</div>
		<!-- end #content -->

	{% endblock %}
