	{% extends "_refer_.html" %}
	{% block body %}
	<div id="page-container" class=" page-without-sidebar">
		<!-- begin #content -->
			<!-- begin page-header -->
			<h1 class="page-header">连续缩量后的首次放量 / Code=1003 <small></small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
			    <div class="panel-body">
					<div class="col-md-5">
						<div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                            </button>
                            	<h4><i class="fa fa-2x fa-info-circle"></i> 什么是连续缩量后的首次放量——极限缩量？</h4>
								<p>
									此前（样本天数内）成交量持续低迷（若呈现典型的连续缩量形态更好）今日突然开始放量，成交量是前一日的至少<font color="red" size="4">3</font>倍，同时
									今日成交量是样本天数内的交易均量的至少<font color="red" size="4">2</font>倍
								</p>
						</div>
						<form class="form-horizontal" id="kline_form" method = "POST" action="/1003?action=query" target="result_page">
							样本天数：	<select class="form-control" name="ybts">
												<option value="10">10天</option>
												<option selected value="15">15天</option>
											</select>
										<input type="checkbox" name="cxsl" value="">放大前<font color="red" size="4">3</font>日的成交量满足持续缩量形态
							<br/>
							今日较昨日放大倍数：	<input type="text" name="multiple" class="form-control" value="3">
							<button type="submit" class="btn btn-danger m-r-5 m-b-5">开始匹配</button>
						</form>
					</div>
					<div class="col-md-7">
						<h3 class="page-header">匹配结果</h3>

						<iframe name="result_page" align="center" width="100%" height="450" src="" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
					</div>
			    </div>
			</div>
		</div>
		<!-- end #content -->

	{% endblock %}
