	{% extends "_refer_.html" %}
	{% block body %}
	<div id="page-container" class=" page-without-sidebar">
		<!-- begin #content -->
			<!-- begin page-header -->
			<h1 class="page-header">极限缩量 / Code=1003 <small></small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
				<div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                            </button>
                            	<h4><i class="fa fa-2x fa-info-circle"></i> 什么是极限缩量？</h4>
								<p>
									在过去一段时间内（至少<font color="red" size="4">10</font>个交易日），每日成交量差额在20%以内。
									同时注意到，.有<font color="red" size="4">70%</font>概率，每日的成交量比前日要更低。股价则越走越低，可以视为极限缩量
								</p>
				</div>
			    <div class="panel-body">
					<div class="col-md-5">
						极限缩量天数：	<select class="form-control" id="_jxslts">
                                            <option value="1">5天</option>
                                            <option value="2">10天</option>
                                            <option selected value="3">20天</option>
                                        </select>
						<button type="button" onclick="query()" class="btn btn-danger m-r-5 m-b-5">开始匹配</button>
					</div>
					<div class="col-md-7">
						<h3 class="page-header">匹配结果</h3>
						<table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>代码</th>
                                        <th>名称</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
								{% for stock in  matchs %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{stock.CODE}}</td>
                                        <td>{{stock.NAME}}</td>
                                        <td><a href="#">Look</a></td>
                                    </tr>
                   		 		{% endfor %}
                                </tbody>
                            </table>
					</div>
			    </div>
			</div>
		</div>
		<!-- end #content -->

	<script>
		function query() {
            if (confirm("执行？")) {
                ybts = document.getElementById("_ybts").value;
                fdts = document.getElementById("_fdts").value;
                window.location.href = "/1002.html?action=query&ybts=" + ybts + "&fdts=" + fdts;
            }
        }
	</script>
	{% endblock %}
