	{% extends "_refer_.html" %}
	{% block body %}
	<div id="page-container" class=" page-without-sidebar">
		<!-- begin #content -->
			<!-- begin page-header -->
			<h1 class="page-header">启明星 / Code=2001 <small></small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
			    <div class="panel-body">
					<div class="col-md-5">
						<div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                            </button>
                            	<h4><i class="fa fa-2x fa-info-circle"></i> 什么是启明星/十字启明星？</h4>
								<p>
									启明星/十字启明星是一种经典的反转形态,具有很强的参考意义.通常在一段下跌趋势之后出现.
									<br/>
									满足启明星的几个基本条件:<br>
									1)行情经过多日的下跌，K2日出现十字星线（收/开盘价一致）<br>
									2)K2相对K1的实体必须有向下跳空缺口（另外如果K3相对K2的实体也有向上跳空缺口则更佳）<br>
									3)K1成交量较小，预示下跌势头已经趋缓，K3成交量放大<br>

									<br>
									<strong>提示:</strong> <br>
										1)K2出现十字星时最好多等一日观察确认，如果K3继续下探，则十字启明星线不成立<br>
										2)K3如果能扎入K1的实体内或者吞没K1实体则指标意义明显<br>
										3)如果出现“弃婴”形态，则指标意义更明显（完全跳空：K2上影线与K1下影线之间没有重叠，K3下影线与K2上影线之间没有重叠）<br/>
								</p>
						</div>
						 <form class="form-horizontal" id="kline_form" method = "POST" action="/2001?action=query">
							<input type="radio" name="tag" value="2d" class="2d" onchange="hidden_option()"> 今日出现十字星
							&nbsp;&nbsp;<input type="radio" name="tag" checked value="3d" class="3d" onchange="view_option()"> 昨日出现启明星
							<br>
							 <div id ="opt">
							<input type="checkbox" name="isStandard" checked value="yes">必须是标准十字启明星
							<br>
							<input type="checkbox" name="throwBaby" checked　value="yes">必须是"弃婴"形态(K3跳空高开)
							<br>
							<input type="checkbox" name="k3up" checked　value="yes">K3日股价大涨(相较K1形成刺透或看涨吞没形态)
							<br>
							<input type="checkbox" name="vol_increase" checked value="yes">成交量显著放大(K3与之前K2、K1相比)
							<br/>
							 </div>
							<button type="submit" class="btn btn-danger m-r-5 m-b-5">开始匹配</button>
						 </form>
					</div>
					<div class="col-md-7">
						<h3 class="page-header">匹配结果</h3>

						<div class="dataTables_scroll">
							<div class="dataTables_scrollBody" style="overflow: auto; height: 420px; width: 100%;">
								<table id="data-table" class="table table-striped table-bordered dataTable no-footer KeyTable" role="grid" aria-describedby="data-table_info" style="width: 100%;">
									<thead>
                                        <tr role="row" style="height: 0px;">
											<th class="sorting_asc" aria-controls="data-table" rowspan="1" colspan="1" style="width: 10%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"><div class="dataTables_sizing" >#</div></th>
											<th class="sorting" aria-controls="data-table" rowspan="1" colspan="1" style="width: 30%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Browser: activate to sort column ascending"><div class="dataTables_sizing" >代码</div></th>
											<th class="sorting" aria-controls="data-table" rowspan="1" colspan="1" style="width: 40%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Platform(s): activate to sort column ascending"><div class="dataTables_sizing" >名称</div></th>
											<th class="sorting" aria-controls="data-table" rowspan="1" colspan="1" style="width: 20%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="CSS grade: activate to sort column ascending"><div class="dataTables_sizing" ></div></th>
										</tr>
                                    </thead>

                                    <tbody>
									{% for stock in  matchs %}
									 	{% if loop.length == 0 %}
											<tr class="gradeA odd" role="row">
												 <td class="sorting_1" colspan="4">没有数据</td>
											</tr>
									  	{% endif %}
                                    	<tr class="gradeA odd" role="row">
                                            <td class="sorting_1">{{loop.index}}</td>
                                            <td>{{stock.CODE}}</td>
                                            <td>{{stock.NAME}}</td>
                                            <td><a href="#" onclick="javascript:window.open('http://image.sinajs.cn/newchart/daily/n/{{ stock.CODE | code_prefix }}.gif')">查看</a></td>
                                        </tr>
                   		 			{% endfor %}
									</tbody>
                                </table>
							</div>
						</div>

					</div>
			    </div>
			</div>
		</div>
		<!-- end #content -->

	<script>
		function hidden_option() {
			document.getElementById("opt").style.display = "none";
        }

        function view_option() {
			document.getElementById("opt").style.display = "";
        }

        function  doit() {
			document.getElementById("kline_form").submit();
        }
	</script>
	{% endblock %}
