	{% extends "_refer_.html" %}
	{% block body %}
	<div id="page-container" class=" page-without-sidebar">
		<!-- begin #content -->
			<!-- begin page-header -->
			<h1 class="page-header">锤子线 / Code=2003 <small></small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
			    <div class="panel-body">
					<div class="col-md-5">
						<div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                            </button>
                            	<h4><i class="fa fa-2x fa-info-circle"></i> 什么是锤子线？</h4>

									**首先得明确,反转形态的出现并不代表接下来趋势一定会反转,它只是一种信号,表示过去延续的趋势出现了异常现象,可能发生某种变化(即可能上涨亦可能下跌)
<div class="slide_div">

<br>
	<b>锤子线/倒锤子线是一种反转形态,通常出现在一段下跌趋势之后,预示着有可能反弹上涨的信号(与之相反的是上吊线/流星线)</b>
<br>
满足锤子线的几个基本条件:<br>
1)行情必须处于一个清晰的下降趋势,出现了连续多日以来的最低点(例如7天内)<br>
2)实体颜色无所谓(红色更好)<br>
3)上影线越短越好(最好没有)<br>
4)实体越小越好(最好是一字形类似十字星)<br>
5)下影线越长越好(下影线长度至少要是实体的2倍以上)
<br><br>
<strong>提示:</strong> <br>
    1)如果锤子线出现后的次日价格跳空高开,缺口越大,那么锤子线构成市场底部的可能性越大<br>
    2)如果次日收盘价低于锤子线的实体部分,则应果断卖出<br>
 </div>
						</div>
						 <form class="form-horizontal" id="kline_form" method = "POST" action="/2003?action=query" target="result_page">
							<input type="radio" name="tag" value="A" class="A" > 今日锤子
							&nbsp;&nbsp;<input type="radio" name="tag" checked value="B" class="B" > 昨日锤子
							<br>
							<input type="checkbox" name="no_head" checked value="yes">必须光头阳线
							<br>
							<button type="submit" class="btn btn-danger m-r-5 m-b-5">开始匹配</button>
						 </form>
					</div>
					<div class="col-md-7">
						<h3 class="page-header">匹配结果</h3>

						<iframe name="result_page" align="center" width="100%" height="450" src="" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
					</div>
			    </div>
			</div>
		</div>
		<!-- end #content -->
	{% endblock %}
