	{% extends "_refer_.html" %}
	{% block body %}
	<div id="page-container" class=" page-without-sidebar">
		<!-- begin #content -->
			<!-- begin page-header -->
			<h1 class="page-header">缺口 / Code=2005 <small></small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
			    <div class="panel-body">
					<div class="col-md-5">
						<div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                            </button>
                            	<h4><i class="fa fa-2x fa-info-circle"></i> 什么是缺口？</h4>

缺口也是一种很重要的持续形态,通常出现“缺口”说明趋势还将持续，缺口分为“向上跳空缺口”和“向下跳空缺口”
<div class="slide_div">
<br>

<strong>提示:</strong> <br>
    1)缺口的定义：必须是一个完全跳空的区间<br>
    2)缺口通常提供重要的支撑。<br>
    3)一般不会连续出现超过三个以上的同方向缺口，第三个出现，能量往往已经消减很多，可能会转势<br>
    4)缺口如果被完全回补并还继续下跌的话，则缺口支撑作用失效<br>
 </div>
						</div>
						 <form class="form-horizontal" id="kline_form" method = "POST" action="/2005?action=query" target="result_page">
							<input type="radio" name="optionsRadios" value="_A" checked="">今天出现向上跳空缺口
							<br>
							 <input type="radio" name="optionsRadios" value="_B" checked="">近期出现向上跳空缺口且一直未补上，且今天收盘接近缺口位置
							<br>
							<button type="submit" class="btn btn-danger m-r-5 m-b-5">开始匹配</button>
						 </form>
					</div>
					<div class="col-md-7">
						<h3 class="page-header">匹配结果</h3>

						<iframe name="result_page" align="center" width="100%" height="450" src="" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
					</div>
			    </div>
			</div>
		</div>
		<!-- end #content -->
	{% endblock %}
