	{% extends "_refer_.html" %}
	{% block body %}
	<div id="page-container" class=" page-without-sidebar">
		<!-- begin #content -->
			<!-- begin page-header -->
			<h1 class="page-header">持续形态—上行三法 / Code=2006 <small></small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
			    <div class="panel-body">
					<div class="col-md-5">
						<div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                            </button>
                            	<h4><i class="fa fa-2x fa-info-circle"></i> 什么是上行三法？</h4>

				与之相反的是“下行三法”
				<div class="slide_div">
				<br>

				<strong>提示:</strong> <br>
					1) 一根大阳柱（至少4%的涨幅）<br>
					2)后面至少两天都是缩量调整，且K线实体基本都落在大阳柱的高低区间内，算是“上行三法(待确认)”<br>
					3)如果接着再出现一根阳线，收盘价高于前一根大阳柱的收盘价，则“上行三法”才算确认<br>
					4)三法其实与“三角形整理”“楔形整理”有共同的特点<br>
				 </div>
						</div>
						 <form class="form-horizontal" id="kline_form" method = "POST" action="/2006?action=query" target="result_page">
							 <input type="checkbox" name="optionsRadios" value="yes" >又出现一根大阳柱
							<br>
							<button type="submit" class="btn btn-danger m-r-5 m-b-5">开始匹配</button>
						 </form>
					</div>
					<div class="col-md-7">
						<h3 class="page-header">匹配结果</h3>

						<iframe name="result_page" align="center" width="100%" height="450" src="" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
					</div>
			    </div>
			</div>
		</div>
		<!-- end #content -->
	{% endblock %}
